{% extends "app/base.html" %}
{% load widget_tweaks %} 
{% block content %}
{% load static %}

   <body>
     <div class="container">
       <h2 id="register">予約を確定するには、以下で認証が必要です。</h2>
       <h2 id="logged-in">ログインしました！</h2>
       <h3 id="in-progress">メールをご確認下さい！</h3>
       <h3 id="in-progress-sms">SMSをご確認ください!</h3>
       <h3 id="in-progress-otp">OTPでご確認お願いいたします! </h3>
       <h3 id="updated"> ユーザー情報を更新しました!  </h3>
       <h3 id="logged-out"> ログアウトしました!  </h3>
 
       <div class="row" id="id-select">
         <div class="col-auto">
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="id-type" id="id-email" value="email_address" checked="checked">
                 <label class="form-check-label" for="id-email">e-mail</label>
             </div>
             <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="id-type" id="id-phone" value="phone_number">
                 <label class="form-check-label" for="id-phone">cell phone</label>
             </div>
     </div>
       </div>
 
 <!--form-phone-->
       <form id="form-phone">
         <div class="form-row align-items-center">
           <div class="form-group col-md-4">
             <label>Cell phone</label>
             <input type="phone" class="form-control" placeholder="Phone" name="phone" id="phone">
           </div>
           <div class="form-group col-md-4">
             <label>Auth method</label> <br>
             <select id="phone-options" class="form-select">
               <option value="sms_link">sms_link</option>
               <option value="otp_via_sms">otp_via_sms</option>
               <option value="webauthn_via_sms">webauthn_via_sms</option>
               <option value="webauthn">webauthn</option>
             </select>
           </div>
         </div>
       </form>
 <!--otp-form-->
         <div id="otp-form" class="form-row align-items-center">
           <div class="form-group col-md-4">
         <button class="btn btn-primary" onclick="registerUser()">Request OTP</button>
         <br>
         <label>OTP:</label>
         <input id="otp_value" type="text" autocomplete="one-time-code"/>
         <button type="button" id="otp_button" class="btn btn-primary">Submit OTP</button>
           </div>
         </div>
 <!--form(基本的で、毎回出てくるやつ)-->
       <form id="form">
         <div class="form-row align-items-center">
           <div class="form-group col-md-4">
             <label>Email</label>
             <input type="email" class="form-control" placeholder="Email" name="email" id="email">
           </div>
           <div class="form-group col-md-4">
             <label>Auth method</label> <br>
             <select id="email-options" class="form-select">
               <option value="email_link">email_link</option>
               <option value="webauthn_via_email">webauthn_via_email</option>
               <option value="webauthn">webauthn</option>
             </select>
           </div>
         </div>
       </form>
 <!--submit-button(基本的で、毎回出てくるやつ)-->
         <div class="form-group col-md-4">
           <!--registerUser()が、押されたら起動する-->
           <button id="submit-button" type="button" class="btn btn-primary" onclick="registerUser()">Authenticate</button>
         </div>
 　　　　
 　　　　<!--attributesという名前のフォームで、名前から性別、adressまで入力や選択するところがある。
 　　　　属性ってこと？-->
       <form id="attributes">
         <div class="form-row align-items-center">
           <div class="row">
             <div class="col-auto">
               <div class="form-group col-md-12">
                 <label>Last name Kana</label>
                 <input type="name" class="form-control" placeholder="Last name Kana" id="last-name-kana">
               </div>
             </div>
             <div class="col-auto">
               <div class="form-group col-md-12">
                 <label>First name Kana</label>
                 <input type="name" class="form-control" placeholder="First name Kana" id="first-name-kana">
               </div>
             </div>
           </div>
           <div class="row">
             <div class="col-auto">
               <div class="form-group col-md-12">
                 <label>Last name</label>
                 <input type="name" class="form-control" placeholder="Last name" id="last-name">
               </div>
             </div>
             <div class="col-auto">
               <div class="form-group col-md-12">
                 <label>First name</label>
                 <input type="name" class="form-control" placeholder="First name" id="first-name">
               </div>
             </div>
           </div>
 
           <div class="row">
             <div class="col-auto">
                 <div class="form-check form-check-inline">
                     <input class="form-check-input" type="radio" name="gender" id="male" value="Male">
                     <label class="form-check-label" for="male">Male</label>
                 </div>
                 <div class="form-check form-check-inline">
                     <input class="form-check-input" type="radio" name="gender" id="female" value="Female">
                     <label class="form-check-label" for="female">Female</label>
                 </div>
                 <div class="form-check form-check-inline">
                     <input class="form-check-input" type="radio" name="gender" id="unspecified" value="Unspecified" checked="checked" >
                     <label class="form-check-label" for="unspecified">Unspecified</label>
                 </div>
             </div>
           </div>
 
           <div class="row">
             <div class="col-auto">
               <div class="form-group mb-6">
                 <label>Date of birth</label>
                 <input type="dob" class="form-control" placeholder="2000/01/01" id="dob">
               </div>
             </div>
             <div class="col-auto">
               <div class="form-group mb-3">
                 <label>Postal code</label>
                 <input type="postalcode" class="form-control" placeholder="100-0000" id="postal-code">
               </div>
             </div>
           </div>
 
           <div class="row">
             <div class="col-auto">
               <div class="form-group mb-5">
                 <label>Address 1</label>
                 <input type="address" class="form-control" placeholder="Address 1" id="address1">
               </div>
             </div>
             <div class="col-auto">
               <div class="form-group mb-5">
                 <label>Address 2</label>
                 <input type="address" class="form-control" placeholder="Address 2" id="address2">
               </div>
             </div>
           </div>
           <div class="row">
             <div class="col-auto">
               <div class="form-group mb-5">
                 <label>Address 3</label>
                 <input type="address" class="form-control" placeholder="Address 3" id="address3">
               </div>
             </div>
             <div class="col-auto">
               <div class="form-group mb-5">
                 <label>Address 4</label>
                 <input type="address" class="form-control" placeholder="Address 4" id="address4">
               </div>
             </div>
           </div>
         </div>
         <div class="form-group col-md-4">
           <button id="edit-button" type="button" class="btn btn-primary" onclick="editUser()">Update attributes</button>
         </div>
         <div class="form-group col-md-4">
           <button id="logout-button" type="button" class="btn btn-primary" onclick="logoutUser()">Log out</button>
         </div>
       </form>
   </div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.slashid.dev/slashid.js"></script>
<script src="{% static 'css/slashid.js' %}"></script>
<script src="{% static 'css/slp.js' %}"></script>
<script src="{% static 'css/util.js' %}"></script> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.slashid.dev/slashid.js"></script>
 </body>



{% endblock %}